@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

/** 縦書き用 左右中央 */
@page {
margin-left: 0;
margin-right: 0;
width:100%;
}

html {
margin-left: 0;
margin-right: 0;
width:100%;
}
body {
margin-left: 0;
margin-right: 0;
vertical-align: middle;
width:100%;
}

table {
width:100%;
height:100%;
}
table td {
width:100%;
height:100%;
display: table-cell;
}

/* 左右中央 */
table.middle {
padding-top: 3em;
}
table.middle td {
vertical-align: top;
padding-top: 2em;
}
/* ページ左 */
table.bottom td {
vertical-align: bottom;
}

/* kindle左右中央 */
div.kindle_outer {
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
-epub-writing-mode: vertical-rl;
text-align: center;
width:100%;
margin: 0;
padding: 0;
line-height: normal;
}
div.kindle_outer.bottom {
text-align: left;
}
div.kindle_inner {
display: inline-block;
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
-epub-writing-mode: vertical-rl;
text-align: left;
line-height: 1.5;
height: auto;
max-height: 95%;
padding-top: 3em;
}

/* Kindle用: 100%テーブルでのはみ出しを防ぐ */
body.kindle table.middle {
height: auto;
}
body.kindle table.middle td {
height: auto;
}